@model IEnumerable<HackerPhotography.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            SortOrder
        </th>
        <th>
            Date
        </th>
        <th>
            Url
        </th>
        <th>
            AlternateDescription
        </th>
        <th>
            Height
        </th>
        <th>
            Width
        </th>
        <th>
            Album
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.SortOrder
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@item.Url
        </td>
        <td>
			@item.AlternateDescription
        </td>
        <td>
			@item.Height
        </td>
        <td>
			@item.Width
        </td>
        <td>
			@(item.Album == null ? "None" : item.Album.Name)
        </td>
    </tr>
}

</table>


