@model IEnumerable<HackerPhotography.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            SortOrder
        </th>
        <th>
            Date
        </th>
        <th>
            Photos
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.SortOrder
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@(item.Photos == null ? "None" : item.Photos.Count.ToString())
        </td>
    </tr>
}

</table>


